*{background-color: brown;}

.title {
    font-size: 80px;
    font-family: "Garamond", serif;
}

.recipes {
    color: magenta;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    height: auto;
    width: 500px;
}

.steps {
    font-size: 50px;
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.other {
    font-size: 30px;
    color: aqua;
}